.input-group{
    flex-direction: column-reverse;
    align-content: center;
}
.item-count{
    text-align: center;
}

.minus-item{
    text-shadow:0px 0px 2px #ff5500;
    border: none;
    font-weight: 800;
    font-size: larger;
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
    margin-block-start: -3px;
    margin-block-end: 6px;
    cursor: pointer;
}
.plus-item{
    text-align: center;
    margin-block-start: -7px;
    margin-block-end: 9px;
    text-shadow:0px 0px 2px #ff5500;
    border: none;
    font-size: larger;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}

.btn-small:hover{
    font-weight: bolder;
    color: #7f2e00;
    text-shadow:0px 0px 1px #ff5500;

}
.btn-small:active{
    font-weight: bolder;
    color: #7f2e00;
    border-color: #ff5500;
}

.cart-row:hover{
    background-color: #f9f9f9;
}
.delete-item {
    font-weight: bold;
    padding: 0 0 10px 0;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #b6aca3;
    border: none;
    background-color: white;
}
.delete-item:hover {
    color: #8f857d;
}

.confirm-order {
    display: block;
    max-width: 6em;
    padding: 0.4rem 1rem!important;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgba(255, 70, 7, 0.73);
    color: #ffffff;
    border-color: rgba(255, 159, 0, 0.99);
    cursor: pointer;
}
.confirm-order href{
    padding: 5px 5px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
    border-color: rgba(255, 85, 0, 0.99);
    cursor: pointer;
}

.back-menu {
    background-color: rgba(255, 255, 255, 0.73);
    color: #ff9f00;
    border-color: rgba(255, 197, 156, 0.34);
}

.small-Img{
    outline: none;
    height: 4rem;
}
