{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<h1>Check out our pizzas!</h1>

<!-- Control buttons -->
<div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('classic')"> Classic</button>
    <button class="btn" onclick="filterSelection('vegetarian')"> Vegetarian</button>
    <button class="btn" onclick="filterSelection('spicy')"> Spicy</button>
</div>

<div class="row">
    {% for pizza in pizzas %}
    <div class="mt-4 mr-4 filterDiv {{ pizza.categories_display }} show">
        <div class="card">
            <div class="card-body">
                <img class="img-thumbnail" src="{{ pizza.photo.url }}" alt="{{ post.name }}">
                <h5 class="card-title">{{ pizza.name }} pizza</h5>
                <p class="card-text">{{ pizza.description }}</p>
                <p class="card-text">Prices: small {{ pizza.price_small }}, large {{ pizza.price_large }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
{% block head_extra %}
<link rel="stylesheet" href="{% static 'shop/css/styles.css'%}">
<script src="{% static 'shop/js/filter.js'%}"></script>
{% endblock head_extra %}
