{% extends "shop/base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1>Order details:</h1>
    <div class="container">
        <form action="/order/" method="POST" id="order-form">
            {% csrf_token %}

            <div class="col-md-4 mb-3">
                <label for="phone">Номер телефона</label>
                {{ form.phone }}
                <div class="invalid-feedback">
                    Номер должен содержать 9 цифр!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="first_name">Имя</label>
                {{ form.first_name }}
                <div class="invalid-feedback">
                    Минимум 3 символа
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="delivery_date">Дата доставки заказа</label>
                {{ form.delivery_date }}
                <script type="text/javascript">
            $(function () {
                $('#delivery_date').datetimepicker({
                    format: 'L',
                    daysOfWeekDisabled: [0, 6],
                    format: 'YYYY-MM-DD',
                    locale: 'ru'
                });
            });

                </script>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="delivery_time">Время доставки</label>
                {{ form.delivery_time }}
                <div class="invalid-feedback">
                    Please provide a valid zip.
                </div>
            </div>

            <div class="col-md-5 mb-3">
                <label for="address">Адрес доставки</label>
                {{ form.address }}
                <div class="invalid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-5 mb-3">
                <label for="comment">Комментарий</label>
                {{ form.comment }}
            </div>

            <hr>

            <div class="d-flex justify-content-end">
                <button id="order-submit" class="btn confirm-order" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block body_extra %}
<script type="text/javascript" src="{% static 'shop/js/order.js'%}"></script>
{% endblock body_extra %}
